/* stylesheet for Yosemite Park Guide */

@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@400;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin Stylesheet */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    color: #2F4F4F;
    font-family: "Roboto Mono", monospace;
    width: 100vw;
}
.container {
    width: 80%;
    margin: 5rem auto 0;
}

/* navbar styles */
nav {
    height: 25rem;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    text-decoration: none;
    width: 20rem;
    height: 8rem;
    padding: 1rem;
    text-align: center;
    color: #FFFFFF;
    border-radius: 1rem;
    font-size: 2rem;
    line-height: 1.4;
}
nav a.plan {
    background-color: #FF764E;
}
nav a.learn {
    background-color: #5ED3EB;
}
nav a.involved {
    background-color: #FFCD69;
}

/* Header Styles */
header {
    margin-bottom: 3rem;
}
header .banner-row {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}
header .banner-text {
    width: 50%;
    margin: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header .banner-row img {
    height: 30rem;
    border-radius: 50%;
}
.banner-row h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 6rem;
    font-weight: 700;
}
.banner-row p {
    font-size: 2rem;
}

/* Main Styles */
main {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}
main .info-row {
    background-color: #DDB9A3;
    color: #FFFFFF;
    font-size: 2rem;
    height: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main .info-row p {
    width: 90%;
    margin: 1rem auto;
}
main .icon-text {
    width: 50%;
    height: 80rem;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main .icon-text img{
    width: 20%;
    display: block;
    margin: 2rem auto;
    padding: 0;
}
main .icon-text p {
    width: 40%;
    margin: 0 auto 2rem;
}
main .icon-text .bold {
    font-weight: 700;
}

/* Footer Styles */
footer{
    height: 40rem;
}
footer .footer-nav {
    background-color: #F9E7DC;
    height: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .footer-image{
    height: 66%;
    background-image: url("assets/footer_img.jpg");
    background-size: cover; 
    background-position: 50% 18%; 
}